In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('files\incidentes_viales_feb_2022.csv', encoding='latin1', on_bad_lines='skip',low_memory=False)
df.dropna(inplace=True)

In [44]:
ent_accidente = df[['folio','incidente_c4','clas_con_f_alarma','tipo_entrada','codigo_cierre']].drop_duplicates().sort_index().reset_index(drop=True)
ent_accidente.insert(0,'id_accidente',ent_accidente.index+1)
val_sucio_incidente_c4 ={'cadÃ¡ver-atropellado':'cadaver atropellado', 'detenciÃ³n ciudadana-atropellado':'detencion cuidadana-atropellado',
                            'cadÃ¡ver-accidente automovilÃ\xadstico':'cadaver-accidente automovilistico','accidente-vehÃ\xadculo atrapado-varado':'accidente-vehiculo atrapado-varado',
                            'mi ciudad-calle-incidente de trÃ¡nsito':'mi ciudad-calle-incidente de transito','detenciÃ³n ciudadana-accidente automovilÃ\xadstico':'detencion ciudadana-accidente automovilistico',
                            'mi ciudad-taxi-incidente de trÃ¡nsito':'mi ciudad-taxi-incidente de transito','lesionado-accidente automovilÃ\xadstico':'lesionado-accidente automovilistico',
                            'accidente-monopatÃ\xadn':'accidente-monopatin','cadÃ¡verE AUXILIO':'boton AUXILIO','cadÃ¡ver-atUXILIO':'boton auxilio', 'caTÃ\x93N DE AUXILIO':'boton auxilio',
                             'lesionado-accidente automovilÃ\xadstic':'lesionado accidente automovilistico','cadÃ¡verE AUXILIO':'boton auxilio','cadÃ¡v DE AUXILIO':'boton auxilio','boton auxilio':'cOTÃ\x93N DE AUXILIO'}

val_sucio_tipo_entrada = {'BOTÃ\x93N DE AUXILIO':'Boton auxilio','CÃ\x81MARA':'camara',
                                 'MiÃ©rcoles':'miercoles','cadÃ¡ver-atropellado':'atropellado','MiÃ©rcol1s':'miercoles',
                                 'MiÃ©rco':'miercoles','SÃ¡bado':'sabado','cadÃ¡ver-atropell':'cadaver atriopellado','CiÃ©rco':'no identificado',
                                 'CÃ\x81©rco':'no identificado', 'BOTÃ\x93N DE tropell':'no identificado', 'CÃ¡bado':'no identificado',
                                'CÃ\x81MARo' :'no identificado','CÃ\x81Mado':'no identificado', 'CÃ\x81MAdo':'no identificado','cOTÃ\x93N DE AUXILIO':'boton auxilio'}
ent_accidente.replace(val_sucio_incidente_c4,inplace=True)
ent_accidente.replace(val_sucio_tipo_entrada,inplace=True)

In [45]:
ent_accidente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624959 entries, 0 to 1624958
Data columns (total 6 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id_accidente       1624959 non-null  int64
 1   folio              1624959 non-null  object
 2   incidente_c4       1624959 non-null  object
 3   clas_con_f_alarma  1624959 non-null  object
 4   tipo_entrada       1624959 non-null  object
 5   codigo_cierre      1624959 non-null  object
dtypes: int64(1), object(5)
memory usage: 74.4+ MB

In [46]:
ent_tiempo = df[['folio','fecha_creacion', 'hora_creacion', 'dia_semana','fecha_cierre', 'hora_cierre','ano_cierre','mes_cierre']].drop_duplicates().sort_index().reset_index(drop=True)
ent_tiempo.insert(0,'id_fecha',ent_tiempo.index+1)
val_sucio = {'MiÃ©rcoles':'Miercoles','SÃ¡bado':'Sabado','SÃÃ©rco':'Sabado','MiÃ©rco':'Miercoles','SiÃ©rco':'Sabado','SÃ¡©rco':'Sabado',
                 'MÃ¡bado':'Sabado','SÃ¡baco':'Sabado','CÃ\x81MARA':'No identificado','SÃ¡bARA':'No identificado','SÃ\x81MARA':'No identificado',
                 'MiÃMARA':'No identificado','MiÃ©ARA':'No identificado','SÃ¡badA':'Sabado','SÃ¡baRA':'Sabado','accidente-choque sin lesionados':'No identificado','MiÃ©rcol':'Miercoles',
                 'lesionado-atropellado':'No identificado','SÃ¡brcoles':'Miercoles','MiÃ©rRA':'Miercoles', 'MiÃ©rcolCALCO,19\x18':'Miercoles','MiÃbado':'Sabado', 'MiÃ©rdo':'Miercoles', 'SÃ¡brco':'Sabado',
                  'MiÃ©ado':'Sabado', 'Mi¡bado':'Sabado', 'MÃ\x81MARA':'No identificado','1':'Enero'}
ent_tiempo.replace(val_sucio,inplace=True)
ent_tiempo = ent_tiempo[ent_tiempo["hora_creacion"].str.contains("0.") == False]
ent_tiempo = ent_tiempo[ent_tiempo["hora_cierre"].str.contains("0.") == False]
"""ent_tiempo['hora_creacion'] = pd.to_datetime(ent_tiempo['hora_creacion'])
ent_tiempo['hora_cierre'] = pd.to_datetime(ent_tiempo['hora_cierre'])
ent_tiempo['fecha_cierre'] = pd.to_datetime(ent_tiempo['fecha_cierre'])
ent_tiempo['fecha_creacion'] = pd.to_datetime(ent_tiempo['fecha_creacion'])"""

"ent_tiempo['hora_creacion'] = pd.to_datetime(ent_tiempo['hora_creacion'])\nent_tiempo['hora_cierre'] = pd.to_datetime(ent_tiempo['hora_cierre'])\nent_tiempo['fecha_cierre'] = pd.to_datetime(ent_tiempo['fecha_cierre'])\nent_tiempo['fecha_creacion'] = pd.to_datetime(ent_tiempo['fecha_creacion'])"

In [47]:
ent_tiempo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374881 entries, 1 to 1639752
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_fecha        374881 non-null  int64
 1   folio           374881 non-null  object
 2   fecha_creacion  374881 non-null  object
 3   hora_creacion   374881 non-null  object
 4   dia_semana      374881 non-null  object
 5   fecha_cierre    374881 non-null  object
 6   hora_cierre     374881 non-null  object
 7   ano_cierre      374881 non-null  object
 8   mes_cierre      374881 non-null  object
dtypes: int64(1), object(8)
memory usage: 28.6+ MB

In [48]:
ent_delegacion = df[['folio','delegacion_inicio','latitud','longitud','delegacion_cierre']].drop_duplicates().sort_index().reset_index(drop=True)
ent_delegacion.insert(0,'id_delegacion',ent_delegacion.index+1)
"""ent_delegacion['latitud'] = pd.to_numeric(ent_delegacion['latitud'])
ent_delegacion['longitud'] = pd.to_numeric(ent_delegacion['longitud'])"""

"ent_delegacion['latitud'] = pd.to_numeric(ent_delegacion['latitud'])\nent_delegacion['longitud'] = pd.to_numeric(ent_delegacion['longitud'])"

In [49]:
ent_delegacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624957 entries, 0 to 1624956
Data columns (total 6 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id_delegacion      1624957 non-null  int64
 1   folio              1624957 non-null  object
 2   delegacion_inicio  1624957 non-null  object
 3   latitud            1624957 non-null  object
 4   longitud           1624957 non-null  object
 5   delegacion_cierre  1624957 non-null  object
dtypes: int64(1), object(5)
memory usage: 74.4+ MB

In [50]:
ent_accidente.to_csv('ent_accidente',header=True,index=False)
ent_accidente.to_csv('ent_delegacion',header=True,index=False)
ent_accidente.to_csv('ent_tiempo',header=True,index=False)